@tailwind base;       /* Includes Tailwind base styles */
@tailwind components; /* Includes Tailwind components styles */
@tailwind utilities;  /* Includes Tailwind utility classes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    position: relative;
}
.backgr{
    background: rgb(237, 237, 226 , 0.5);
    width: 100vw;
    height: 100vh;
    position:absolute ;
    left: 0;
    top: 0;
    position: relative;
}
.navigation{
    background-color: rgb(217, 225, 180);
    overflow: hidden;
    width: 20vw;
    height:99vh;
    box-sizing: initial;
    /* border-left: 25px solid #181E36 ;
    border-top: 15px solid #181E36 ;  */
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
    font-size: small;
    position: fixed;
    top: 15px;
    left: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


}
@media only screen and (max-width: 600px) {
    .navigation {
      font-size: 8px;
    }
  }
  
  /* Medium devices (600px to 768px) */
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .navigation {
      font-size: 10px;
    }
  }
  
  /* Large devices (768px and up) */
  @media only screen and (min-width: 768px) {
    .navigation {
      font-size: 14px;
    }
  }

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;

    padding-left: 50px;
    padding-top: 20px;
    background-color: rgb(217, 225, 180)}

.navigation ul li:hover{
    background-color:  rgb(237, 237, 226 , 0.5);
}
.navigation ul .divv:hover{
    background:rgb(217, 225, 180);
    color: rgb(0, 0, 0);
    padding-left: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


}
.navigation ul li  .link{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    text-decoration: none;
    color: #809d0d;

}
.navigation ul li  .link:hover{
    color: rgb(0, 0, 0);
    padding-bottom: 13px;
}
.navigation ul li  .link .icon:hover{
    color: #000000;

}
.navigation ul li  .link .icon:active{
    color: #000000;

}
.navigation ul li .link .icon{
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
    color: #ffffff;
}
.navigation ul li .link .icon .ion{
    font-size: 1.5rem;
}
.navigation ul li .link .title{
    position: relative;
    display: block;
    line-height: 60px;
    letter-spacing: 3px;
}
.nav {
   width: 80px;
}
/* .header{
    gap:4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#CDE7A0 ;
    width: 75vw;
    height: 70px;
    padding: 0 10px;
    color: white;
    margin-left: -20px;
 */


/* .body{
    background-color: rgba(205, 231, 160, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
} */
.grid{
    position: absolute;
    top: 10px;
    left: 10px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    background: transparent;
    width:95vw;
    height:95vh;
    grid-template-areas:
    "sidd . . . "

    "sidd   liss liss liss "
    "sidd   liss liss liss "
    "sidd  liss liss liss "
    "sidd   . . . ";
    overflow: hidden;
    gap : 40px;
    color: black;

}
.navv{
    grid-area: navv;
}
.sidd{
    grid-area: sidd;
}.liss{
    grid-area: liss;
    margin-left: 2vw;

}
.iconnn{
    height: 9vh;
    width: 9vw;
    color: #fefefe ;

}


