@tailwind base;       /* Includes Tailwind base styles */
@tailwind components; /* Includes Tailwind components styles */
@tailwind utilities;  /* Includes Tailwind utility classes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.grid{
    position: absolute;
    top: 10px;
    left: 10px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    width:70vw;
    height: 95vh;
    grid-template-areas:
    " name email github"

    "progress tasks tasks "
    "progress tasks tasks "
    
    "slide slide calendar"
    "slide slide calendar ";

    padding: 20px;
    overflow: hidden;
    gap : 2%;
    color: black;

}
.name{
    grid-area: name;
    background-color: rgba(237, 237, 226 , 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.github{
    grid-area: github;
    background-color: rgba(237, 237, 226 , 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.email{
    grid-area: email;
    background-color: rgba(237, 237, 226 , 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.tasks{
    grid-area: tasks;
    background-color: rgba(237, 237, 226 , 0.9);
    height: ;
}
.progress{
    grid-area: progress;
    background-color: rgba(237, 237, 226 , 0.9);
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'completed uncompleted';
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5vw;
    padding: 0 10px;

}
.completed{
    grid-area: completed;
    gap: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(237, 237, 226 , 0.9);

}
.uncompleted{
    grid-area: uncompleted;
    gap: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(237, 237, 226 , 0.9);
    height: 100%;

}



.calendar{
    grid-area: calendar;
    background-color: rgba(237, 237, 226 , 0.9);
    margin: auto 0;
}
.slide{
    grid-area: slide;
    padding: 4% 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'progBar'
    'perWeekSlide'
    'perWeekSlide';
    gap:1.5vw;
    /* margin: auto 0; */

}
.perWeekSlide{
    grid-area: perWeekSlide;
    background-color: rgba(237, 237, 226 , 0.9);
    display: flex;
    align-items: center;
    justify-content: center;


    
}
.progBar{
    grid-area: progBar;
    background-color: rgba(237, 237, 226 , 0.9);
    padding: 2%;

    

}